In [1]:
!pip install numpy
!pip install pandas
!pip install scikit-learn

Requirement already satisfied: numpy in c:\users\dell\desktop\diamond price predictor\model\env\lib\site-packages (1.26.3)

[notice] A new release of pip is available: 23.3.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: pandas in c:\users\dell\desktop\diamond price predictor\model\env\lib\site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.26.0 in c:\users\dell\desktop\diamond price predictor\model\env\lib\site-packages (from pandas) (1.26.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dell\desktop\diamond price predictor\model\env\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\dell\desktop\diamond price predictor\model\env\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\dell\desktop\diamond price predictor\model\env\lib\site-packages (from pandas) (2023.4)
Requirement already satisfied: six>=1.5 in c:\users\dell\desktop\diamond price predictor\model\env\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.3.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: scikit-learn in c:\users\dell\desktop\diamond price predictor\model\env\lib\site-packages (1.3.2)
Requirement already satisfied: numpy<2.0,>=1.17.3 in c:\users\dell\desktop\diamond price predictor\model\env\lib\site-packages (from scikit-learn) (1.26.3)
Requirement already satisfied: scipy>=1.5.0 in c:\users\dell\desktop\diamond price predictor\model\env\lib\site-packages (from scikit-learn) (1.11.4)
Requirement already satisfied: joblib>=1.1.1 in c:\users\dell\desktop\diamond price predictor\model\env\lib\site-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\dell\desktop\diamond price predictor\model\env\lib\site-packages (from scikit-learn) (3.2.0)

[notice] A new release of pip is available: 23.3.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import numpy as np
import pandas as pd

In [3]:
data= pd.read_csv('data/diamonds.csv')

In [4]:
data.head()

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75

In [5]:
data.shape

(53940, 11)

In [6]:
data.isnull().sum()

Unnamed: 0    0
carat         0
cut           0
color         0
clarity       0
depth         0
table         0
price         0
x             0
y             0
z             0
dtype: int64

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  53940 non-null  int64
 1   carat       53940 non-null  float64
 2   cut         53940 non-null  object
 3   color       53940 non-null  object
 4   clarity     53940 non-null  object
 5   depth       53940 non-null  float64
 6   table       53940 non-null  float64
 7   price       53940 non-null  int64
 8   x           53940 non-null  float64
 9   y           53940 non-null  float64
 10  z           53940 non-null  float64
dtypes: float64(6), int64(2), object(3)
memory usage: 4.5+ MB

In [8]:
non_numeric_prices = data['price'][pd.to_numeric(data['price'], errors='coerce').isnull()]
print(non_numeric_prices.unique())

[]

In [9]:
data['color'].value_counts()

color
G    11292
E     9797
F     9542
H     8304
D     6775
I     5422
J     2808
Name: count, dtype: int64

In [10]:
data.head()

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75

In [11]:
data['cut'].value_counts()

cut
Ideal        21551
Premium      13791
Very Good    12082
Good          4906
Fair          1610
Name: count, dtype: int64

In [12]:
data['clarity'].value_counts()

clarity
SI1     13065
VS2     12258
SI2      9194
VS1      8171
VVS2     5066
VVS1     3655
IF       1790
I1        741
Name: count, dtype: int64

In [13]:

cut_mapping = {'Ideal': 0, 'Premium': 1, 'Very Good': 2, 'Good': 3, 'Fair': 4}
data['cut_encoded'] = data['cut'].map(cut_mapping)

In [14]:
data.tail()

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z,cut_encoded
53935,53936,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50,0
53936,53937,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61,3
53937,53938,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56,2
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74,1
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64,0

In [15]:
clarity_mapping = {'I1':0, 'SI2':1, 'SI1':2, 'VS2':3, 'VS1':4, 'VVS2':5, 'VVS1':6, 'IF':7}
data['clarity_encoded']=data['clarity'].map(clarity_mapping)

In [16]:
data.head()

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z,cut_encoded,clarity_encoded
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,0,1
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,1,2
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,3,4
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,1,3
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,3,1

In [17]:
data=data.drop(columns=['Unnamed: 0','cut','clarity'])

In [18]:
data.head()

,carat,color,depth,table,price,x,y,z,cut_encoded,clarity_encoded
0,0.23,E,61.5,55.0,326,3.95,3.98,2.43,0,1
1,0.21,E,59.8,61.0,326,3.89,3.84,2.31,1,2
2,0.23,E,56.9,65.0,327,4.05,4.07,2.31,3,4
3,0.29,I,62.4,58.0,334,4.20,4.23,2.63,1,3
4,0.31,J,63.3,58.0,335,4.34,4.35,2.75,3,1

In [19]:
data = pd.get_dummies(data)

In [20]:
data.head()

,carat,depth,table,price,x,y,z,cut_encoded,clarity_encoded,color_D,color_E,color_F,color_G,color_H,color_I,color_J
0,0.23,61.5,55.0,326,3.95,3.98,2.43,0,1,False,True,False,False,False,False,False
1,0.21,59.8,61.0,326,3.89,3.84,2.31,1,2,False,True,False,False,False,False,False
2,0.23,56.9,65.0,327,4.05,4.07,2.31,3,4,False,True,False,False,False,False,False
3,0.29,62.4,58.0,334,4.20,4.23,2.63,1,3,False,False,False,False,False,True,False
4,0.31,63.3,58.0,335,4.34,4.35,2.75,3,1,False,False,False,False,False,False,True

In [21]:
data.corr()['price']

carat              0.921591
depth             -0.010647
table              0.127134
price              1.000000
x                  0.884435
y                  0.865421
z                  0.861249
cut_encoded        0.053491
clarity_encoded   -0.146800
color_D           -0.072473
color_E           -0.101089
color_F           -0.024161
color_G            0.008556
color_H            0.059223
color_I            0.097125
color_J            0.081710
Name: price, dtype: float64

In [22]:
x=data.drop('price',axis=1)
y=data['price']

In [23]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3)

In [24]:
x_train.shape,x_test.shape

((37758, 15), (16182, 15))

In [25]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(x_train,y_train)
lr.score(x_test,y_test)

0.9072435293845841

In [26]:
from sklearn.tree import DecisionTreeRegressor
dt=DecisionTreeRegressor()
dt.fit(x_train,y_train)
dt.score(x_test,y_test)

0.9630442748842678